@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

body{
  margin: 0;
  padding: 0;
  background: url("https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80") ;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Bree Serif', serif;
}

.container{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

/* Logsin form style */
.loginWrapper{
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

/* Register form style */
.registerWrapper{
  position: absolute;
  top: 50%;
  left: 100%;
  /* right: 10%; */
  /* display: none; */
  transform: translateY(-50%);
}

.loginWrapper form, .registerWrapper form{
  width: 400px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
      0 2px 4px 0 rgba(0,0,0,0.08);
}
.login-head{
  text-align: center;
  padding: 50px;
  background: #ff4c4c;
}
.login-head h2{
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 7px;
  color: #fff;
}
.input-group{
  padding: 50px;
}
.inputWrapper{
  position: relative;
  margin-bottom: 25px;
}
.inputWrapper label{
  position: absolute;
  top:0;
  left: 0;
  color: #b3b2b2;
  transition: all 0.3s ease-in-out;
}
.inputWrapper input{
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  outline: none;
}
.inputWrapper i{
  position: absolute;
  right: 5px;
  bottom: 15px;
  color: #ff4c4c;
  font-size: 16px;
}
.form-button{
  text-align: center;
}
.form-button button{
  width: 100%;
  height: 50px;
  border: none;
  background: #fff;
  color: #2e2e2e;
  border-radius: 40px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 600;
  font-size: 12px;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease;
}
.form-button:hover button{
  background: #ff4c4c;
  color: #ffffff;
  cursor: pointer;
}
.form-button button i {
  margin-left: 15px;
  transition: margin-left 0.3s ease;
}
.form-button:hover button i{
  margin-left: 30px;
}
.inputWrapper.focused label{
  top: -15px;
  color: #ff4c4c;
}

.tap{
  position: absolute;
  width: 220px;
  height: 55px;
  transform: translate(-50%,-50%);
  padding: 10px;
  border: none;
  background: #0099e5;
  color: #fff;
  font-weight: bolder;
  font-size: 1.5rem;
  border-radius: 40px;
  box-shadow: 0px 9px 16px 0px rgba(0,0,0,0.75);
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

.register-tap{
  top: 50%;
  left: 70%;
}
.tap:hover{
  box-shadow: none;
}
.login-tap{
  top: -150%;
  left: 20%;
}
